<?xml version="1.0"?>
<config>
  <modules>
    <AndrejSinicyn_CatalogTuner>
      <version>1.0.0</version>
    </AndrejSinicyn_CatalogTuner>
  </modules>
  <global>
    <helpers>
      <catalogtuner>
        <class>AndrejSinicyn_CatalogTuner_Helper</class>
      </catalogtuner>
    </helpers>
    <models>
      <catalogtuner>
        <class>AndrejSinicyn_CatalogTuner_Model</class>
        <resourceModel>catalogtuner_mysql4</resourceModel>
      </catalogtuner>
    </models>
    <events>
      <catalog_controller_product_init>
        <observers>
          <catalog_controller_product_init_handler>
            <type>model</type>
            <class>catalogtuner/observer</class>
            <method>onCatalogControllerProductInit</method>
          </catalog_controller_product_init_handler>
        </observers>
      </catalog_controller_product_init>
    </events>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <AndrejSinicyn_CatalogTuner>
          <files>
            <default>AndrejSinicyn_CatalogTuner.csv</default>
          </files>
        </AndrejSinicyn_CatalogTuner>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <catalog>
      <tuning>
        <add_catalog_breadcrumbs_to_product>0</add_catalog_breadcrumbs_to_product>
      </tuning>
    </catalog>
  </default>
</config>
